{% extends "base.html" %}
{% block title %}Асуулт, хариулт{% endblock %}

{% block content %}
{% include "partials/slide_detail.html" with title="Асуулт, хариулт нэмэх / засах" %}
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-7 col-xl-6">
      <div class="card shadow-sm mb-3">
        <div class="card-body">
          <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">
              Хадгалах
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}